<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Команда Пуфики - напишем самый крутой сервис">
    <meta name="keywords" content="Хакатон, Digital Superhero, EnergyHack">
    <meta name="author" content="VanishMax">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пуфики на DSH</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="./css/global.css">
</head>

<body>

<div id="main"></div>

<script src="/public/bundle.js"></script>

</body>
</html>
